main, section {
  background-color: #f0efef;
}

body {
  background-color: #ded;
}

header, footer {
  background-color: #b0aac0;
  height: 180px;
}

nav, footer, header {
  color: white;
}

main {
  margin-bottom: 10px;
  margin-top: 10px;
}

main, body {
  padding: 10px;
}

.image-banner {
  height: 100%;
  display: block;
  margin: auto;
}

p, li {
  font-size: 20px;
  text-align: justify;
}

/* Navigation List Properties */

nav {
  background-color: #c2d4dd;
  height: 29px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0pt;
  margin: 10px;
}

nav ul li {
  list-style-type: none;
  width: 20%;
  min-width: 50px;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
}

nav ul li a:hover {
  color: lightgrey;
  background-color: #e5edf1;
}
