main {
  background-color: #edfad9;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 15px;
}

body {
  background-color: white !important;
  padding: 10px;
}

footer {
  background-color: #b0ce83;
  height: 100px;
}

.image-banner {
  width: 100%;
  height: auto;
}

nav, footer, header {
  color: white;
}

p, li {
  font-size: 17px;
  text-align: justify;
}

h2, h3, h4, .card-link, .collapsed.card-link {
  font-family: 'Bradley Hand ITC';
  font-weight: bold !important;
}

small {
  font-size: 4px;
}

/* Navigation List Properties */

nav {
  background-color: #b0ce83;
  height: 30px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0pt;
  margin: 5px;
}

nav ul li {
  list-style-type: none;
  width: 20%;
  min-width: 50px;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none !important;
  text-align: center;
  padding: 5px;
  height: 30px !important;
  font-size: 15px !important;
}

nav ul li a:hover {
  color: lightgrey;
  background-color: #edfad9;
}
