main {
  background-color: #f0efef;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 15px;
}

body {
  background-color: #ded !important;
  padding: 15px;
}

footer {
  background-color: #b0aac0;
  height: 180px;
}

.image-banner {
  width: 100%;
  height: auto;
}

nav, footer, header {
  color: white;
}

p, li {
  font-size: 17px;
  text-align: justify;
}

small {
  font-size: 8px;
}

/* Navigation List Properties */

nav {
  background-color: #c2d4dd;
  height: 30px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0pt;
  margin: 10px;
}

nav ul li {
  list-style-type: none;
  width: 20%;
  min-width: 50px;
}

nav ul li a {
  display: block;
  color: white;
  text-decoration: none !important;
  text-align: center;
  padding: 5px;
  height: 30px !important;
  font-size: 15px !important;
}

nav ul li a:hover {
  color: lightgrey;
  background-color: #e5edf1;
}
